@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
    scroll-behavior: smooth;
}

/******************************
        MAIN HEADER
*******************************/

/******************************
            HEADER
*******************************/

.main-header {
    background-color: #FFE8E1;
    padding-bottom: 1.5em;
}
/* #menu {
    display: none;
}
#menu:checked ~ .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menu:checked ~ .nav-bar #x {
    position: relative;
    z-index: 2;
    color: #FFE8E1;
}
#menu ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #x {
    display: none;
}
#menu:checked ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #burguer {
    display: none;
}
#menu:checked ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #x {
    display: block;
} */
.nav-bar__menu-toggle {
    display: none; /*Esto es mientras se realiza el sidebar correctamente en la visualizacion movil*/
    position: relative;
    padding-top: 8px;
}
.nav-bar__menu-toggle .btn{
    padding: 0;
    color: #F05742;
    background-color: transparent;
    border: none;
    font-size: 2.3em;
    padding-top: 8px;
}
.nav-bar__menu-toggle .btn:active{
    border: none;
}
/* .menu-toggle__label {
    cursor: pointer;
} */
.menu-toggle__label .fas {
    position: relative;
    color: #F05742;
    font-family: "Font Awesome 5 Free";
    font-size: 2.3em;
    font-weight: 600;
    padding: 0.2em;
}

/******************************
            NAV BAR
*******************************/

.nav-bar {
    width: 100%;
    display: flex;
    padding-top: 75px;
    position: relative;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4em;
}
.nav-bar__logo {
    max-height: 200px;
    max-width: 200px;
}
.nav-bar__list {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-bar__item {
    text-align: center;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: linear-gradient(#000, #000);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    overflow: hidden;
}
.nav-bar__item .fas {
    position: relative;
    color: black;
    font-family: "Font Awesome 5 Free";
    align-self: center;
}
.nav-bar__item:hover .fas,  .nav-bar__item:focus .fas {
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: 0.6s;
}
.nav-bar__item:hover, .nav-bar__item:focus {
    background-size: 100% 2px;
    cursor: pointer;
}
.nav-bar__item-list {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5em;
    text-align: left;
    background-color: #ffc1ae;
    border-radius: 5px;
}
.nav-bar__item:hover .nav-bar__item-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.item-list__services{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: solid 1px #FFE8E1;
    background-color: #ffc1ae;
}
.item-list__services a{
    text-decoration: none;
    color: #000;
}
a:hover {
    color: inherit;
}
.item-list__services:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.nav-bar__item-link {
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    text-align: center;
    gap: 0.3em;
}
#nav-bar__item-contact {
    background-color: #F05742;
    background-image: none;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0 0 3px rgb(0 0 0 / 40%);
}
#nav-bar__item-contact .nav-bar__item-link {
    color: #fff;
}
.nav-bar__icon-contact {
    display: none;
    padding-top: 16px;
}
.nav-bar__icon-contact .fas, .nav-bar__icon-contact a {
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: "Font Awesome 5 Free";
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #F05742;
    padding: 0.15em;
}
@media (max-width: 1260px) {
    .nav-bar__item-link {
        font-size: 1.3em;
    }
}
@media (max-width: 1200px) {
    .nav-bar__item-link {
        font-size: 1.2em;
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .nav-bar__menu-toggle {
        display: block;
    }
    .nav-bar__logo {
        max-height: 130px;
        max-width: 130px;
    }
    .nav-bar__list {
        display: none;
    }
    .nav-bar__icon-contact {
        display: block;
    }
    .nav-bar__logo {
        margin: 0;
    }
}

/******************************
            SIDEBAR
*******************************/

.offcanvas.offcanvas-start {
    width: 80%;
}
.offcanvas {
    background-color: #F05742;
}
.btn-close {
    background-color: #FFE8E1;
}
.sidebar__list {
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
}
.sidebar__item {
    padding-top: 1.2em;
    padding-bottom: 0.5em;
}
.sidebar__contact {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
.sidebar__item-link {
    font-size: x-large;
    text-decoration: none;
    color: #FFE8E1;
}
.sidebar__social-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.sidebar__social-icon {
    font-size: xx-large;
}
.sidebar__social-icon .fab {
    color: #FFE8E1;
    padding-right: 0.5em;
}
.sidebar__contact-mail {
    color: #FFE8E1;
    font-size: x-large;
    margin-bottom: 0;
    text-decoration: none;
}
.sidebar__division-line {
    background-color: #FFE8E1;
    padding: 1px;
    margin-bottom: 1em;
}

/******************************
            MAIN INDEX
*******************************/

.main-body__about-section {
    background-color: #FFE8E1;
    padding-bottom: 50px;
    padding-left: 40%;
    padding-right: 10%;
}
.main-body__about-section p {
    font-size: 2em;
    text-align: right;
    line-height: normal;
    
}
.main-body__about-section p a {
    display: block;
    font-size: 0.8em;
    text-decoration: underline;
    color: #000;
}
.main-body__services-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}
.services-section {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}
.services-section__service {
    max-width: 220px;
}
.service__img {
    display: flex;
    margin: auto;
    justify-content: center;
}
.service__img img {
    width: 100%;
    max-width: 150px;
}
.service__text {
    max-width: 350px;
}
.service__text h2 {
    font-size: x-large;
    text-align: center;
    padding-top: 0.5em;
}
.service__text h3 {
    font-size: large;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    padding-top: 0.5em;
}
.service__text p {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
.services-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em;
}
.services-btn a {
    text-align: center;
    width: 250px;
    padding: 0.8em;
    background-color: #F05742;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0 0 3px rgb(0 0 0 / 40%);
}
.main-body__blog-section {
    background-color: #FFE8E1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    padding: 3em;
}
.main-body__blog-section h1 {
    text-align: center;
    font-size: xx-large;
}
.blog-section__form {
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
    justify-content: center;
}
.form__search {
    width: 60%;
    padding: 0.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;
}
.form__submit {
    font-family: "Font Awesome 5 Free";
    font-size: 1.1em;
    font-weight: 600;
    border-left: none;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    border-right: solid 2px #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    padding: 0.5em;
}
.card {
    width: 250px;
    box-sizing: border-box;
}
.card-body {
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0 0 3px rgb(0 0 0 / 40%);
}
.card-body .card-text:first-of-type {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.61);
}
.card-body .card-text:last-of-type {
    height: 60px;
    overflow: scroll;
}
.card-body .card-text:last-of-type::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}
.card-body .card-text:last-of-type::-webkit-scrollbar:vertical {
    width:5px;
}
.card-body .card-text:last-of-type::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.card-body .card-text:last-of-type::-webkit-scrollbar:horizontal {
    height: 0;
}
.card-body .card-text:last-of-type::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.card-body .card-link {
    padding-top: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
}
.blog-section__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-top: 3em;
}
.icon-views {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
}
@media (min-width:320px) and (max-width: 800px) {
    .main-body__about-section {
        padding-left: 10%;
        padding-right: 10%;
    }
    .main-body__about-section p {
        text-align: center;
        font-size: 1.7em;
    }
    .services-section {
        flex-wrap: wrap;
    }
    .main-body__blog-section {
        background-color: #FFE8E1;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}

/******************************
        MAIN SOBRE MI
*******************************/

.main-body__about-title {
    text-align: center;
    padding: 2em;
}
.main-body__about-content {
    background-color: #FFE8E1;
}
.main-body__about-text {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2em;
    padding-bottom: 2em;
}
.main-body__about-text h1 {
    text-align: center;
    padding-bottom: 0.8em;
}
.main-body__about-text p {
    text-align: center;
    padding-bottom: 0.8em;
    font-size: 1em;
}
.main-body__about-carrousel {
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
}
.carrousel__item {
    background-color: #F05742;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
}
#carrousel__item1 {
    opacity: 1;
}
.carrousel__item:target {
    opacity: 1;
}
.carrousel__item .carrousel__images {
    height: 100%;
}
.carrousel__points {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    bottom: 0;
}
.carrousel__points a {
    margin: 2em;
    text-decoration: none;
    font-family: "Font Awesome 5 Free";
    font-size: 1.1em;
    font-weight: 600;
    color: #000;
}
.carrousel__images img {
    width: 100%;
    height: 100%;
}


/******************************
            MAIN BLOG
*******************************/

.main-body__blog-title {
    text-align: center;
    padding: 2em;
}

/******************************
        MAIN SERVICIOS
*******************************/

.main-body__services-title {
    text-align: center;
    padding: 2em;
}
.services {
    background-color: #FFE8E1;
    padding-left: 10%;
    padding-right: 10%;
}
.service {
    display: flex;
    align-items: center;
    padding: 2em;
}
.service__image1-3 {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    max-width: 400px;
}
.service__image2 {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 50%;
    max-width: 400px;
}
.service__image1-3 img, .service__image2 img {
    width: 100%;
}
.service__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2em 0 0;
    gap: 1em;
    height: 100%;
}
#service__content2 {
    padding: 0 0 0 2em;
}
#service__content4 {
    padding: 0 0 0 2em;
}
#service__content2 .service__tittle-description {
    display: flex;
}
#service__content2 .service__texto  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.service__tittle-description {
    display: flex;
    align-items: center;
    gap: 2em;
}
.service__title {
    padding: 0 1em 0 0;
    border-right: solid 2px #000;
}
#servicio2 {
    padding: 0 0 0 1em;
    border-left: solid 2px #000;
    border-right: 0;
}
#servicio4 {
    padding: 0 0 0 1em;
    border-left: solid 2px #000;
    border-right: 0;
}
@media (min-width:320px) and (max-width: 800px) {
    .service {
        display: flex;
        flex-direction: column;
    }
    .service__content {
        order: 1;
        display: block;
        width: 100%;
        padding: 0;
    }
    #service__content2 {
        display: block;
        width: 100%;
        padding: 0;
    }
    #service__content4 {
        display: block;
        width: 100%;
        padding: 0;
    }
    .service__texto {
        padding-top: 1em;
    }
    .service__title {
        font-size: large;
    }
    #service__content2 .service__texto {
        padding-top: 1em;
    }
    #service__content4 .service__texto {
        padding-top: 1em;
    }
    #service__content2 .service__tittle-description {
        padding-top: 2em;
        justify-content: center;
    }
    .service__tittle-description #servicio2, .service__tittle-description #servicio4  {
        order: -1;
        border-left: 0;
        border-right: solid 2px #000;
        padding: 0 1em 0 0;
        text-align: left;
    }
    .service__tittle-description p {
        text-align: right;
    }
    .service__tittle-description {
        padding-top: 2em;
        justify-content: center;
    }
}

/******************************
        MAIN CONTACTO
*******************************/

.main-body__contact-header {
    text-align: center;
    padding: 2em;
    padding-left: 10%;
    padding-right: 10%;
}
.contact-form {
    background-color: #FFE8E1;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-areas: 
        "nombre email"
        "ayuda ayuda"
        "enviar enviar";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 1em;
}
.contact-form__name {
    grid-area: nombre;
}
.contact-form__email {
    grid-area: email;
}
.contact-form__message {
    grid-area: ayuda;
}
.contact-form__submit {
    grid-area: enviar;
}
.contact-form__name input {
    display: block;
    width: 100%;
    margin-top: 0.8em;
    padding: 0.8em;
    border-color: #000;
    border-radius: 5px
}
.contact-form__email input {
    display: block;
    width: 100%;
    margin-top: 0.8em;
    padding: 0.8em;
    border-color: #000;
    border-radius: 5px
}
.contact-form__message textarea {
    display: block;
    width: 100%;
    margin-top: 0.8em;
    resize: vertical;
    min-height: 160px;
    padding: 0.8em;
    border-color: #000;
    border-radius: 5px
}
.contact-form__submit input{
    width: 100%;
    margin-top: 1em;
    padding: 0.8em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background-color: #F05742;
    color: #FFE8E1;
    border-radius: 5px;
    text-decoration: none;
}
.contact-form__submit input:hover {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0 0 1.5px rgb(0 0 0 / 40%);
}
.main-body__contact-social {
    background-color: #FFE8E1;
    padding-bottom: 40px;
}
.contact-social {
    display: flex;
    justify-content: center;
}
.contact-social__icon, .contact-social__email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
.contact-social__icon .fab, .contact-social__email .fas {
    font-size: 2.3em;
    color: #F05742;
    padding: 0.3em;
}
.contact-social__icon a, .contact-social__email a{
    text-decoration: none;
    color: #000;
}
.main-body__contact-division {
    display: block;
    background-color: #000;
    height: 2px;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 20px;
}
@media (min-width:320px) and (max-width: 800px) {
    .contact-form {
        display: block;
        padding-left: 20%;
        padding-right: 20%;
    }
    .contact-form__email {
        padding-top: 1em;
    }
    .contact-form__message {
        padding-top: 1em;
    }
    .contact-form__submit {
        padding-top: 1em;
    }
    .contact-social {
        flex-direction: column;
        width: 30%;
        margin: auto;
    }
}

/******************************
            FOOTER
*******************************/

.footer {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    margin-top: 24px;
}
.footer__logo {
    max-width: 250px;
    max-height: 250px;
    margin-top: 40px;
}
.footer__suscribe {
    width: 33.33%;
}
.footer .fab {
    font-size: 2.3em;
    color: #F05742;
    padding: 0.3em;
}
.none {
    display: none;
    color: transparent;
}
.footer__suscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__suscribe-form label{
    display: block;
    padding-top: 0.7em;
    width: 100%;
}
.footer__suscribe-form input{
    display: block;
    margin-top: 0.8em;
    padding: 0.5em;
    width: 100%;
}
#suscribe-btn {
    background-color: #F05742;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#suscribe-btn:hover {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%), 0 0 1.5px rgb(0 0 0 / 40%);
}
@media (max-width:930px) {
    .footer__social-contact {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    .footer__suscribe {
        width: 80%;
    }
    .footer__social-contact {
        display: flex;
        flex-direction: row;
    }
}
.go-up .fas {
    display: none;
    font-size: 3em;
    padding: 0.5em;
    color: darkgray;
}
.go-up a {
    text-align: end;
    text-decoration: none;
}
@media (min-width:320px) and (max-width: 800px) {
    .go-up .fas {
        display: block;
    }
}