/******************************
            FONTS
*******************************/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/******************************
          NORMALIZE
*******************************/

:root {
    /* Colors */
    --primary: #f05742;
    --secondary: #ffe8e1;
    --alternative: #ffc1ae;
    --text-color: #000;
    --base: #fff;
    /* Spacings */
    --spacing-large: 6rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;
    /* Font-familys */
    --font-principal: "PT Sans", sans-serif;
    --font-title: "Nunito", sans-serif;
    /* Font-sizes */
    --text-large: 5.2em;
    --text-medium: 2.4em;
    --text-base: 1.6em;
    --text-small: 1.4em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-principal);
}

ul {
    list-style-type: none;
}

a {
    font-family: var(--font-title);
    text-decoration: none;
}

img {
    width: 100%;
}


/******************************
        MAIN HEADER
*******************************/

/******************************
            HEADER
*******************************/

.main-header {
    background-color: var(--secondary);
    padding-bottom: var(--spacing-medium);
}
/* #menu {
    display: none;
}
#menu:checked ~ .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menu:checked ~ .nav-bar #x {
    position: relative;
    z-index: 2;
    color: #FFE8E1;
}
#menu ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #x {
    display: none;
}
#menu:checked ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #burguer {
    display: none;
}
#menu:checked ~ .nav-bar > .nav-bar__menu-toggle .menu-toggle__label #x {
    display: block;
} */
.nav-bar__menu-toggle {
    display: none;
    position: relative;
    padding-top: calc(var(--spacing-xsmall)*1.1);
}
.nav-bar__menu-toggle .btn {
    padding: 0;
    color: var(--primary);
    background-color: transparent;
    border: none;
    font-size: calc(var(--text-base)*2);
}
.nav-bar__menu-toggle .btn:active {
    border: none;
}
/* .menu-toggle__label {
    cursor: pointer;
}
.menu-toggle__label .fas {
    position: relative;
    color: #F05742;
    font-family: "Font Awesome 5 Free";
    font-size: 2.3em;
    font-weight: 600;
    padding: 0.2em;
}
 */

/******************************
            NAV BAR
*******************************/

.nav-bar {
    width: 100%;
    display: flex;
    padding-top: 75px;
    position: relative;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: var(--spacing-large);
}
.nav-bar__logo {
    max-height: 200px;
    max-width: 200px;
    min-height: 130px;
    min-width: 130px;
}
.nav-bar__list {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-bar__item {
    text-align: center;
    padding: 0.5em var(--spacing-small);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: linear-gradient(#000, #000);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    overflow: hidden;
}
.nav-bar__item .fas {
    position: relative;
    color: black;
    font-family: "Font Awesome 5 Free";
    align-self: center;
}
.nav-bar__item:hover .fas,  .nav-bar__item:focus .fas {
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: 0.6s;
}
.nav-bar__item:hover, .nav-bar__item:focus {
    background-size: 100% 2px;
    cursor: pointer;
}
.nav-bar__item-list {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.5em;
    text-align: left;
    background-color: var(--alternative);
    border-radius: 5px;
}
.nav-bar__item:hover .nav-bar__item-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.item-list__services {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: solid 1px var(--secondary);
    background-color: var(--alternative);
}
.item-list__services a{
    color: var(--text-color);
    font-size: calc(var(--text-small)*1.2);
}
a:hover {
    color: inherit;
}
.item-list__services:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.nav-bar__item-link {
    display: flex;
    color: var(--text-color);
    font-size: calc(var(--text-medium));
    text-align: center;
    gap: 0.3em;
}
#nav-bar__item-contact {
    background-color: var(--primary);
    background-image: none;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;
}
#nav-bar__item-contact .nav-bar__item-link {
    color: var(--base);
}
.nav-bar__icon-contact {
    display: none;
    padding-top: var(--spacing-small);
}
.nav-bar__icon-contact .fas, .nav-bar__icon-contact a {
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: "Font Awesome 5 Free";
    justify-content: center;
    font-size: calc(var(--text-base)*1.2) ;
    font-weight: 600;
    color: #F05742;
}
@media (max-width: 1200px) {

    .main-header .nav-bar__list .nav-bar__item {
        padding: 0.5em var(--spacing-xsmall);
    }
    .main-header .nav-bar__list .nav-bar__item .nav-bar__item-link {
        font-size: var(--text-medium);
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .nav-bar__menu-toggle {
        display: block;
    }
    .nav-bar__logo {
        max-height: 130px;
        max-width: 130px;
        margin: 0;
    }
    .nav-bar__list {
        display: none;
    }
    .nav-bar__icon-contact {
        display: block;
    }
}

/******************************
            SIDEBAR
*******************************/

.offcanvas.offcanvas-start {
    width: 80%;
}
.offcanvas {
    background-color: var(--primary);
}
.btn-close {
    background-color: var(--secondary);
    font-size: var(--text-medium);
}
.sidebar__list {
    padding-top: calc(var(--spacing-large)) ;
    padding-bottom: calc(var(--spacing-large)*3);
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}
.sidebar__item {
    padding-top: var(--spacing-xsmall);
    padding-bottom: var(--spacing-xsmall);
}
.sidebar__contact {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}
.sidebar__item-link {
    font-size: var(--text-medium);
    color: var(--secondary);
}
.sidebar__social-list {
    display: flex;
    padding-left: 0;
}
.sidebar__social-icon {
    font-size: calc(var(--text-medium)*1.5);
}
.sidebar__social-icon .fab {
    color: var(--secondary);
    padding-right: var(--spacing-small);
}
.sidebar__contact-mail {
    color: var(--secondary);
    font-size: var(--text-medium);
    margin-bottom: 0;
}
.sidebar__division-line {
    background-color: var(--secondary);
    padding: 1px;
    margin-bottom: 1em;
}

/******************************
            MAIN INDEX
*******************************/

.main-body__about-section {
    background-color: var(--secondary);
    padding-bottom: var(--spacing-large);
    padding-left: 40%;
    padding-right: 10%;
}
.main-body__about-section p {
    font-size: calc(var(--text-medium)*1.2) ;
    text-align: right;
    line-height: normal;
    
}
.main-body__about-section p a {
    display: block;
    text-decoration: underline;
    color: var(--text-color);
}
.main-body__services-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: var(--spacing-large);
}
.services-section {
    display: flex;
    justify-content: space-around;
    gap: var(--spacing-small);
    flex-wrap: wrap;
}
.services-section__service {
    max-width: 220px;
}
.service__img {
    display: flex;
    margin: auto;
    justify-content: center;
}
.service__img img {
    max-width: 150px;
}
.service__text {
    max-width: 350px;
}
.service__text h2 {
    font-family: var(--font-title);
    font-size: var(--text-medium);
    text-align: center;
    padding-top: var(--spacing-small);
}
.service__text h3 {
    font-family: var(--font-title);
    font-size: var(--text-base);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    padding-top: var(--spacing-xsmall);
}
.service__text p {
    font-size: var(--text-small);
    text-align: center;
    padding-top: var(--spacing-xsmall);
    padding-top: var(--spacing-xsmall);
}
.services-btn {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-large);
    margin-top: var(--spacing-medium);
}
.services-btn a {
    font-family: var(--font-title);
    font-size: var(--text-medium);
    text-align: center;
    width: 250px;
    padding: var(--spacing-xsmall);
    background-color: var(--primary);
    color: var(--base);
    font-weight: 400;
    border-radius: 1rem;
    box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;
}
.main-body__blog-section {
    background-color: var(--secondary);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3rem;
    padding: var(--spacing-large);
}
.main-body__blog-section h1 {
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--text-medium);
}
.blog-section__form {
    display: flex;
    margin-top: var(--spacing-medium);
    justify-content: center;
}
.form__search {
    font-size: var(--text-small);
    width: 60%;
    padding: var(--spacing-xsmall);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: solid 2px var(--text-color);
    border-bottom: solid 2px var(--text-color);
    border-left: solid 2px var(--text-color);
}
.form__submit {
    font-family: "Font Awesome 5 Free";
    font-size: var(--text-small);
    font-weight: 600;
    border-left: none;
    border-top: solid 2px var(--text-color);
    border-bottom: solid 2px var(--text-color);
    border-right: solid 2px var(--text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: var(--base);
    padding:  var(--spacing-xsmall);
}
.card {
    width: 250px;
}
.card-body {
    box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;
}
.card-body .card-title{
    font-size: calc(var(--text-small)*1.2);
    font-family: var(--font-title);
}
.card-body .card-text:first-of-type {
    color: rgba(0, 0, 0, 0.60);
}
.card-body .card-text:last-of-type {
    font-size: var(--text-small);
    height: 60px;
    overflow: scroll;
}
.card-body .card-text:last-of-type::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}
.card-body .card-text:last-of-type::-webkit-scrollbar:vertical {
    width:0.5rem;
}
.card-body .card-text:last-of-type::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.card-body .card-text:last-of-type::-webkit-scrollbar:horizontal {
    height: 0;
}
.card-body .card-text:last-of-type::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 2rem;
    border: 2px solid #f1f2f3;
}
.contenedor::-webkit-scrollbar-track {
    border-radius: 1rem;  
}
.card-body .card-link {
    font-size: var(--text-small);
    color: rgba(0, 0, 0, 0.60);
}
.blog-section__articles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    justify-content: center;
    margin-top: var(--spacing-medium);
}
.icon-views {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
}
@media (min-width:320px) and (max-width: 800px) {
    .main-body__about-section {
        padding-left: 10%;
        padding-right: 10%;
    }
    .main-body__about-section p {
        text-align: center;
        font-size: var(--text-medium);
    }
    .services-section {
        flex-wrap: wrap;
    }
    .main-body__blog-section {
        background-color: #FFE8E1;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}

/******************************
        MAIN SOBRE MI
*******************************/

.main-body__about-title {
    font-size: var(--text-large);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--spacing-large);
}
.main-body__about-subtitle {
    background-color: var(--secondary);
    padding-top: var(--spacing-large);
}
.main-body__about-subtitle h2 {
    margin-bottom: 0;
    font-family: var(--font-title);
    font-size: calc(var(--text-medium)*1.2);
    text-align: center;
}
.main-body__about-subtitle p {
    margin-bottom: 0;
    text-align: center;
    font-size: var(--text-medium);
    color: rgba(0, 0, 0, 0.60);
}
.main-body__about-content {
    background-color: #FFE8E1;
    display: flex;
    gap: var(--spacing-medium);
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-around;
}
.main-body__about-img {
    display: flex;
    align-items: flex-start;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-large);
    width: 50vw;
}
.main-body__about-text {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-large);
    width: 50vw;
}
.main-body__about-text p {
    text-align: justify;
    font-size: var(--text-base);
    
}

@media (min-width:320px) and (max-width: 800px) {
    .main-body__about-content {
        display: block;
    }
    .main-body__about-img {
        width: 100%;
        padding-top: var(--spacing-medium);
        padding-bottom: var(--spacing-medium);
    }
    .main-body__about-text {
        width: 100%;
        padding-top: var(--spacing-medium);
        padding-bottom: var(--spacing-large);
    }
    
}

/******************************
            MAIN BLOG
*******************************/

.main-body__blog-title {
    font-size: var(--text-large);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--spacing-large);
}

/******************************
        MAIN SERVICIOS
*******************************/

.main-body__services-title {
    font-size: var(--text-large);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--spacing-large);
}
.services {
    background-color: var(--secondary);
    padding-left: 10%;
    padding-right: 10%;
}
.service {
    display: flex;
    align-items: center;
    padding: var(--spacing-medium);
}
.service__image1-3 {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    max-width: 350px;
}
.service__image2 {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 50%;
    max-width: 350px;
}
.service__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-medium) 0 0;
    gap: var(--spacing-small);
    height: 100%;
}
#service__content2 {
    padding: 0 0 0 var(--spacing-medium);
}
#service__content4 {
    padding: 0 0 0 var(--spacing-medium);
}
#service__content2 .service__tittle-description {
    display: flex;
}
#service__content2 .service__texto  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.service__tittle-description {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
    font-size: var(--text-base);
}
.service__title {
    padding: 0 var(--spacing-small) 0 0;
    font-family: var(--font-title);
    font-size: var(--text-base);
    border-right: solid 2px #000;
}
.service__texto {
    font-size: calc(var(--text-small)*0.9);
    list-style-type: disc;
}
#servicio2 {
    padding: 0 0 0 var(--spacing-small);
    border-left: solid 2px #000;
    border-right: 0;
}
#servicio4 {
    padding: 0 0 0 var(--spacing-small);
    border-left: solid 2px #000;
    border-right: 0;
}
@media (min-width:320px) and (max-width: 800px) {
    .service {
        display: flex;
        flex-direction: column;
    }
    .service__content {
        order: 1;
        display: block;
        width: 100%;
        padding: 0;
    }
    #service__content2 {
        display: block;
        width: 100%;
        padding: 0;
    }
    #service__content4 {
        display: block;
        width: 100%;
        padding: 0;
    }
    .service__texto {
        padding-top: 1em;
    }
    #service__content2 .service__texto {
        padding-top: 1em;
    }
    #service__content4 .service__texto {
        padding-top: 1em;
    }
    #service__content2 .service__tittle-description {
        padding-top: 2em;
        justify-content: center;
    }
    .service__tittle-description #servicio2, .service__tittle-description #servicio4  {
        order: -1;
        border-left: 0;
        border-right: solid 2px #000;
        padding: 0 1em 0 0;
        text-align: left;
    }
    .service__tittle-description p {
        text-align: right;
    }
    .service__tittle-description {
        padding-top: 2em;
        justify-content: center;
    }
}

/******************************
        MAIN CONTACTO
*******************************/

.main-body__contact-header {
    font-size: calc(var(--text-medium)*1.5);
    font-family: var(--font-title);
    text-align: center;
    padding: var(--spacing-large);
    padding-left: 10%;
    padding-right: 10%;
}
.contact-form {
    background-color: var(--secondary);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    display: grid;
    grid-template-areas: 
        "nombre email"
        "ayuda ayuda"
        "enviar enviar";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 1em;
}
.contact-form__name {
    grid-area: nombre;
    font-size: var(--spacing-small);
}
.contact-form__email {
    grid-area: email;
    font-size: var(--spacing-small);
}
.contact-form__message {
    grid-area: ayuda;
    font-size: var(--spacing-small);
}
.contact-form__submit {
    grid-area: enviar;
}
.contact-form__name input {
    display: block;
    width: 100%;
    margin-top: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    border-color: var(--text-color);
    border-radius: 5px
}
.contact-form__email input {
    display: block;
    width: 100%;
    margin-top: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    border-color: var(--text-color);
    border-radius: 5px
}
.contact-form__message textarea {
    display: block;
    width: 100%;
    margin-top: var(--spacing-xsmall);
    resize: vertical;
    min-height: 160px;
    padding: var(--spacing-xsmall);
    border-color: var(--text-color);
    border-radius: 5px
}
.contact-form__submit input{
    width: 100%;
    margin-top: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    font-size: var(--text-base);
    font-family: var(--font-title);
    cursor: pointer;
    background-color: var(--primary);
    color: var(--base);
    border-radius: 5px;
}
.contact-form__submit input:hover {
    box-shadow: 0px 1px 3px #00000033, 0 0 1.5px #00000066;
}
.main-body__contact-social {
    background-color: var(--secondary);
    padding-bottom: var(--spacing-large);
}
.contact-social {
    display: flex;
    justify-content: center;
}
.contact-social__icon, .contact-social__email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-medium);
}
.contact-social__icon .fab, .contact-social__email .fas {
    font-size: calc(var(--text-medium)*1.5);
    color: var(--primary);
    padding: 0.3em;
}
.contact-social__icon a, .contact-social__email a{
    color: var(--text-color);
    font-size: var(--text-base);
}
.main-body__contact-division {
    display: block;
    background-color: var(--text-color);
    height: 2px;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 20px;
}
@media (min-width:320px) and (max-width: 800px) {
    .contact-form {
        display: block;
        padding-left: 20%;
        padding-right: 20%;
    }
    .contact-form__email {
        padding-top: 1em;
    }
    .contact-form__message {
        padding-top: 1em;
    }
    .contact-form__submit {
        padding-top: 1em;
    }
    .contact-social {
        flex-direction: column;
        width: 30%;
        margin: auto;
    }
}

/******************************
            FOOTER
*******************************/

.footer {
    display: flex;
    background-color: var(--base);
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--spacing-medium);
    margin-top: var(--spacing-medium);
}
.footer__logo {
    max-width: 230px;
    max-height: 230px;
    margin-top: var(--spacing-medium);
}
.footer__suscribe {
    width: 33.33%;
}
.footer .fab {
    font-size: calc(var(--text-medium)*1.5);
    color: var(--primary);
    padding: 0.3em;
}
.none {
    display: none;
    color: transparent;
}
.footer__suscribe-header {
    font-family: var(--font-title);
    font-size: var(--text-medium);
}
.footer__suscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__suscribe-form label{
    display: block;
    padding-top: var(--spacing-xsmall);
    width: 100%;
    font-size: var(--text-base);
}
.footer__suscribe-form input{
    display: block;
    margin-top: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    width: 100%;
    font-size: var(--text-small);
}
#suscribe-btn {
    background-color: var(--primary);
    color: var(--base);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-title);
    font-size: var(--text-base);
}
#suscribe-btn:hover {
    box-shadow: 0px 1px 2px #00000033, 0 0 1.5px #00000066;
}
@media (max-width:930px) {
    .footer__social-contact {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
    }
    .footer__suscribe {
        width: 70%;
    }
    .footer__social-contact {
        display: flex;
        flex-direction: row;
    }
}
.go-up .fas {
    display: none;
    font-size: var(--text-large);
    padding:var(--spacing-small);
    color: darkgray;
}
.go-up a {
    text-align: end;
}
@media (min-width:320px) and (max-width: 800px) {
    .go-up .fas {
        display: block;
    }
}