/******************************
            MISC
*******************************/
/* Colors */
/* Spacings */
/* Font-familys */
/* Font-sizes */
/******************************
            FONTS
*******************************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/******************************
           NORMALIZE
*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-family: "PT Sans", sans-serif; }

ul {
  list-style-type: none; }

a {
  font-family: "Nunito", sans-serif;
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

.none {
  display: none;
  color: transparent; }

/*@mixin flex($dir, $jus, $alg, $wrap) {
    display: flex;
    @if $dir == default {flex-direction: row;} 
    @else {flex-direction: $dir;}
    @if $jus == default {justify-content: flex-start;} 
    @else {justify-content: $jus;}
    @if $alg == default {align-items: stretch;} 
    @else {align-items: $alg;}
    @if $wrap == default {flex-wrap: nowrap;} 
    @else {flex-wrap: $wrap;}}*/
/******************************
            PARTIALS
*******************************/
/******************************
            HEADER
*******************************/
.main-header {
  background-color: #ffe8e1;
  padding-bottom: 2.4rem;
  /******************************
            NAV BAR
*******************************/ }
  .main-header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 75px 10% 6rem 10%;
    position: relative; }
    .main-header .nav-bar__menu-toggle {
      display: none;
      position: relative;
      padding-top: 1.1rem; }
      .main-header .nav-bar__menu-toggle .btn {
        padding: 0;
        color: #f05742;
        background-color: transparent;
        border: none;
        font-size: 3.2em; }
      .main-header .nav-bar__menu-toggle .btn:active {
        border: none; }
    .main-header .nav-bar__logo {
      max-height: 200px;
      max-width: 200px;
      min-height: 130px;
      min-width: 130px; }
    .main-header .nav-bar__list {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 0; }
      .main-header .nav-bar__list .nav-bar__item {
        text-align: center;
        padding: 0.5em 2rem;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        background-image: linear-gradient(#000, #000);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
        overflow: hidden; }
        .main-header .nav-bar__list .nav-bar__item .fas {
          position: relative;
          color: #000;
          font-family: "Font Awesome 5 Free";
          align-self: center; }
        .main-header .nav-bar__list .nav-bar__item:hover, .main-header .nav-bar__list .nav-bar__item:focus {
          background-size: 100% 2px;
          cursor: pointer; }
          .main-header .nav-bar__list .nav-bar__item:hover .fas, .main-header .nav-bar__list .nav-bar__item:focus .fas {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
            transition: 0.6s; }
        .main-header .nav-bar__list .nav-bar__item .nav-bar__item-link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.3em;
          color: #000;
          font-size: 2.4em;
          text-align: center; }
        .main-header .nav-bar__list .nav-bar__item .nav-bar__item-list {
          display: none;
          list-style-type: none;
          padding-left: 0;
          margin-top: 0.5em;
          text-align: left;
          background-color: #ffc1ae;
          border-radius: 5px; }
          .main-header .nav-bar__list .nav-bar__item .nav-bar__item-list .item-list__services {
            padding: 0.5em 1em 0.5em 1em;
            border: solid 1px #ffe8e1;
            background-color: #ffc1ae; }
            .main-header .nav-bar__list .nav-bar__item .nav-bar__item-list .item-list__services a {
              color: #000;
              font-size: 1.68em; }
            .main-header .nav-bar__list .nav-bar__item .nav-bar__item-list .item-list__services:hover {
              transform: scale(1.1);
              transition: all 0.3s; }
        .main-header .nav-bar__list .nav-bar__item:hover .nav-bar__item-list {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: stretch;
          gap: 0;
          position: absolute; }
      .main-header .nav-bar__list #nav-bar__item-contact {
        background-color: #f05742;
        background-image: none;
        border-radius: 1rem;
        box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066; }
        .main-header .nav-bar__list #nav-bar__item-contact .nav-bar__item-link {
          color: #fff; }
    .main-header .nav-bar__icon-contact {
      display: none;
      padding-top: 2rem; }
      .main-header .nav-bar__icon-contact .fas, .main-header .nav-bar__icon-contact a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        text-align: center;
        font-family: "Font Awesome 5 Free";
        font-size: 1.92em;
        font-weight: 600;
        color: #f05742; }

@media (max-width: 1200px) {
  .main-header .nav-bar__list .nav-bar__item {
    padding: 0.5em 1rem; }
  .main-header .nav-bar__list .nav-bar__item .nav-bar__item-link {
    font-size: 2.4em; } }

@media (min-width: 320px) and (max-width: 800px) {
  .nav-bar .nav-bar__menu-toggle {
    display: block; }
  .nav-bar .nav-bar__logo {
    max-height: 130px;
    max-width: 130px;
    margin: 0; }
  .nav-bar .nav-bar__list {
    display: none; }
  .nav-bar .nav-bar__icon-contact {
    display: block; } }

/******************************
            SIDEBAR
*******************************/
.offcanvas.offcanvas-start {
  width: 80%; }
  .offcanvas.offcanvas-start .btn-close {
    background-color: #ffe8e1;
    font-size: 2.4em; }
  .offcanvas.offcanvas-start .sidebar__list {
    padding-top: 6rem;
    padding-bottom: 18rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem; }
    .offcanvas.offcanvas-start .sidebar__list .sidebar__item {
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .offcanvas.offcanvas-start .sidebar__list .sidebar__item .sidebar__item-link {
        font-size: 2.4em;
        color: #ffe8e1; }
  .offcanvas.offcanvas-start .sidebar__contact {
    padding-left: 2.4rem;
    padding-right: 2.4rem; }
    .offcanvas.offcanvas-start .sidebar__contact .sidebar__division-line {
      background-color: #ffe8e1;
      padding: 1px;
      margin-bottom: 1em; }
    .offcanvas.offcanvas-start .sidebar__contact-mail {
      color: #ffe8e1;
      font-size: 2.4em;
      margin-bottom: 0; }
    .offcanvas.offcanvas-start .sidebar__contact .sidebar__social-list {
      display: flex;
      padding-left: 0; }
      .offcanvas.offcanvas-start .sidebar__contact .sidebar__social-list .sidebar__social-icon {
        font-size: 3.6em; }
        .offcanvas.offcanvas-start .sidebar__contact .sidebar__social-list .sidebar__social-icon .fab {
          color: #ffe8e1;
          padding-right: 2rem; }

.offcanvas {
  background-color: #f05742; }

/******************************
            FOOTER
*******************************/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem; }
  .footer__logo {
    max-height: 230px;
    max-width: 230px;
    margin-top: 2.4rem; }
  .footer__suscribe {
    width: 33.33%; }
    .footer__suscribe .footer__suscribe-header {
      font-family: "Nunito", sans-serif;
      font-size: 2.4em; }
    .footer__suscribe .footer__suscribe-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0; }
      .footer__suscribe .footer__suscribe-form label {
        display: block;
        padding-top: 1rem;
        width: 100%;
        font-size: 1.6em; }
      .footer__suscribe .footer__suscribe-form input {
        display: block;
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        font-size: 1.4em;
        border-color: #000;
        border-radius: 5px; }
      .footer__suscribe .footer__suscribe-form #suscribe-btn {
        background-color: #f05742;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Nunito", sans-serif;
        font-size: 1.6em; }
        .footer__suscribe .footer__suscribe-form #suscribe-btn:hover {
          box-shadow: 0px 1px 2px #00000033, 0 0 1.5px #00000066; }
  .footer .fab {
    font-size: 3.6em;
    color: #f05742;
    padding: 0.3em; }

@media (max-width: 930px) {
  .footer .footer__social-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; } }

@media (min-width: 320px) and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem; }
    .footer .footer__social-contact {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0; }
    .footer .footer__suscribe {
      width: 70%; } }

.go-up .fas {
  display: none;
  font-size: 5.2em;
  padding: 2rem;
  color: darkgray; }

.go-up a {
  text-align: end; }

@media (min-width: 320px) and (max-width: 800px) {
  .go-up .fas {
    display: block; } }

/******************************
            VIEWS
*******************************/
/******************************
            MAIN INDEX
*******************************/
.main-body__about-section {
  background-color: #ffe8e1;
  padding-bottom: 6rem;
  padding-left: 40%;
  padding-right: 10%; }
  .main-body__about-section p {
    font-size: 2.88em;
    font-family: "Nunito", sans-serif;
    text-align: right;
    line-height: normal;
    color: #000; }
    .main-body__about-section p a {
      font-family: "Nunito", sans-serif;
      display: block;
      color: #000;
      font-size: 0.84em; }

.main-body__services-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6rem; }
  .main-body__services-section .services-section {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap; }
    .main-body__services-section .services-section__service {
      max-width: 220px; }
      .main-body__services-section .services-section__service .service__img {
        display: flex;
        margin: auto;
        justify-content: center; }
        .main-body__services-section .services-section__service .service__img img {
          max-width: 150px; }
      .main-body__services-section .services-section__service .service__text {
        max-width: 350px; }
        .main-body__services-section .services-section__service .service__text h2 {
          font-family: "Nunito", sans-serif;
          font-size: 2.4em;
          text-align: center;
          padding-top: 2rem; }
        .main-body__services-section .services-section__service .service__text h3 {
          font-family: "Nunito", sans-serif;
          font-size: 1.6em;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          padding-top: 1rem; }
        .main-body__services-section .services-section__service .service__text p {
          font-size: 1.4em;
          text-align: center;
          padding-top: 1rem;
          padding-top: 1rem; }
  .main-body__services-section .services-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top: 2.4rem; }
    .main-body__services-section .services-btn a {
      font-family: "Nunito", sans-serif;
      font-size: 2.4em;
      text-align: center;
      width: 250px;
      padding: 1rem;
      background-color: #f05742;
      color: #fff;
      font-weight: 400;
      border-radius: 1rem;
      box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066; }

.main-body__blog-section {
  background-color: #ffe8e1;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3rem;
  padding: 6rem; }
  .main-body__blog-section h1 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 2.4em; }
  .main-body__blog-section .blog-section__form {
    display: flex;
    margin-top: 2.4rem;
    justify-content: center; }
    .main-body__blog-section .blog-section__form .form__search {
      font-size: 1.4em;
      width: 60%;
      padding: 1rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top: solid 2px #000;
      border-bottom: solid 2px #000;
      border-left: solid 2px #000; }
    .main-body__blog-section .blog-section__form .form__submit {
      font-family: "Font Awesome 5 Free";
      font-size: 1.4em;
      font-weight: 600;
      border-left: none;
      border-top: solid 2px #000;
      border-bottom: solid 2px #000;
      border-right: solid 2px #000;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      padding: 1rem; }

.blog-section__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.4rem; }
  .blog-section__articles .card {
    width: 250px; }
    .blog-section__articles .card .card-body {
      box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066; }
      .blog-section__articles .card .card-body .card-title {
        font-size: 1.68em;
        font-family: "Nunito", sans-serif; }
      .blog-section__articles .card .card-body .card-text:first-of-type {
        color: rgba(0, 0, 0, 0.6); }
      .blog-section__articles .card .card-body .card-text:last-of-type {
        font-size: 1.4em;
        height: 60px;
        overflow: scroll; }
      .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar {
        -webkit-appearance: none;
        appearance: none; }
      .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar:vertical {
        width: 5px; }
      .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar-button:increment {
        display: none; }
      .blog-section__articles .card .card-body .contenedor::-webkit-scrollbar-button {
        display: none; }
      .blog-section__articles .card .card-body .contenedor::-webkit-scrollbar-track {
        border-radius: 1rem; }
      .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar:horizontal {
        height: 0; }
      .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3; }
      .blog-section__articles .card .card-body .card-link {
        font-size: 1.4em;
        color: rgba(0, 0, 0, 0.6); }

.icon-views {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal; }

@media (min-width: 320px) and (max-width: 800px) {
  .main-body__about-section {
    padding-left: 10%;
    padding-right: 10%; }
    .main-body__about-section p {
      text-align: center;
      font-size: 2.4em; }
  .main-body__services-section .services-section {
    flex-wrap: wrap; }
  .main-body__blog-section {
    background-color: #ffe8e1;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0; } }

/******************************
            MAIN BLOG
*******************************/
.main-body__blog .main-body__blog-title {
  font-size: 3.6em;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 6rem; }

.main-body__blog .main-body__blog-section {
  background-color: #ffe8e1;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3rem;
  padding: 6rem; }
  .main-body__blog .main-body__blog-section h1 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 2.4em; }
  .main-body__blog .main-body__blog-section .blog-section__form {
    display: flex;
    margin-top: 2.4rem;
    justify-content: center; }
    .main-body__blog .main-body__blog-section .blog-section__form .form__search {
      font-size: 1.4em;
      width: 60%;
      padding: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top: solid 2px #000;
      border-bottom: solid 2px #000;
      border-left: solid 2px #000; }
    .main-body__blog .main-body__blog-section .blog-section__form .form__submit {
      font-family: "Font Awesome 5 Free";
      font-size: 1.4em;
      font-weight: 600;
      border-left: none;
      border-top: solid 2px #000;
      border-bottom: solid 2px #000;
      border-right: solid 2px #000;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      background-color: #fff;
      padding: 1rem; }

.main-body__blog .blog-section__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2.4rem; }
  .main-body__blog .blog-section__articles .card {
    width: 250px; }
    .main-body__blog .blog-section__articles .card .card-body {
      box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066; }
      .main-body__blog .blog-section__articles .card .card-body .card-title {
        font-size: 1.68em;
        font-family: "Nunito", sans-serif; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:first-of-type {
        color: rgba(0, 0, 0, 0.6); }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type {
        font-size: 1.4em;
        height: 60px;
        overflow: scroll; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar {
        -webkit-appearance: none;
        appearance: none; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar:vertical {
        width: 5px; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar-button:increment {
        display: none; }
      .main-body__blog .blog-section__articles .card .card-body .contenedor::-webkit-scrollbar-button {
        display: none; }
      .main-body__blog .blog-section__articles .card .card-body .contenedor::-webkit-scrollbar-track {
        border-radius: 1rem; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar:horizontal {
        height: 0; }
      .main-body__blog .blog-section__articles .card .card-body .card-text:last-of-type::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3; }
      .main-body__blog .blog-section__articles .card .card-body .card-link {
        font-size: 1.4em;
        color: rgba(0, 0, 0, 0.6); }

.main-body__blog .icon-views {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-style: normal; }

@media (min-width: 320px) and (max-width: 800px) {
  .main-body__blog .main-body__blog-section {
    background-color: #ffe8e1;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0; } }

/******************************
        MAIN CONTACTO
*******************************/
.main-body__contact-header {
  padding-left: 10%;
  padding-right: 10%; }

.contact-form {
  background-color: #ffe8e1;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-areas: "nombre email" "ayuda ayuda" "enviar enviar";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 1em; }
  .contact-form .contact-form__name {
    grid-area: nombre;
    font-size: 2rem; }
    .contact-form .contact-form__name input {
      display: block;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border-color: #000;
      border-radius: 5px; }
  .contact-form .contact-form__email {
    grid-area: email;
    font-size: 2rem; }
    .contact-form .contact-form__email input {
      display: block;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border-color: #000;
      border-radius: 5px; }
  .contact-form .contact-form__message {
    grid-area: ayuda;
    font-size: 2rem; }
    .contact-form .contact-form__message textarea {
      display: block;
      width: 100%;
      margin-top: 1rem;
      resize: vertical;
      min-height: 160px;
      padding: 1rem;
      border-color: #000;
      border-radius: 5px; }
  .contact-form .contact-form__submit {
    grid-area: enviar; }
    .contact-form .contact-form__submit input {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      font-size: 1.6em;
      font-family: "Nunito", sans-serif;
      cursor: pointer;
      background-color: #f05742;
      color: #fff;
      border-radius: 5px; }
      .contact-form .contact-form__submit input:hover {
        box-shadow: 0px 1px 3px #00000033, 0 0 1.5px #00000066; }

.main-body__contact-social {
  background-color: #ffe8e1;
  padding-bottom: 6rem; }
  .main-body__contact-social .main-body__contact-division {
    display: block;
    background-color: #000;
    height: 2px;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 20px; }
  .main-body__contact-social .contact-social {
    display: flex;
    justify-content: center; }
    .main-body__contact-social .contact-social__icon, .main-body__contact-social .contact-social__email {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2.4rem; }
      .main-body__contact-social .contact-social__icon .fab, .main-body__contact-social .contact-social__icon .fas, .main-body__contact-social .contact-social__email .fab, .main-body__contact-social .contact-social__email .fas {
        font-size: 3.6em;
        color: #f05742;
        padding: 0.3em; }
      .main-body__contact-social .contact-social__icon a, .main-body__contact-social .contact-social__email a {
        color: #000;
        font-size: 1.6em;
        display: flex;
        gap: 0.4rem; }

@media (min-width: 320px) and (max-width: 800px) {
  .contact-form {
    display: block;
    padding-left: 20%;
    padding-right: 20%; }
    .contact-form .contact-form__email {
      padding-top: 1em; }
    .contact-form .contact-form__message {
      padding-top: 1em; }
    .contact-form .contact-form__submit {
      padding-top: 1em; }
  .main-body__contact-social .contact-social {
    flex-direction: column;
    width: 30%;
    margin: auto; } }

/******************************
        MAIN SERVICIOS
*******************************/
.services {
  background-color: #ffe8e1;
  padding-left: 10%;
  padding-right: 10%; }
  .services .service {
    display: flex;
    align-items: center;
    padding: 2.4rem; }
    .services .service .service__content {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      padding: 0 2.4rem 0 0;
      gap: 2rem;
      height: 100%; }
      .services .service .service__content .service__tittle-description {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        font-size: 1.6em; }
        .services .service .service__content .service__tittle-description .service__title {
          padding: 0 2rem 0 0;
          font-family: "Nunito", sans-serif;
          font-size: 1.6em;
          border-right: solid 2px #000; }
      .services .service .service__content .service__texto {
        font-size: 1.26em;
        list-style-type: disc; }
    .services .service__image1-3 {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 50%;
      max-width: 350px; }
    .services .service__image2 {
      display: flex;
      justify-content: flex-start;
      flex: 1 1 50%;
      max-width: 350px; }
    .services .service #service__content2 {
      padding: 0 0 0 2.4rem; }
      .services .service #service__content2 .service__tittle-description {
        display: flex; }
        .services .service #service__content2 .service__tittle-description #servicio2 {
          padding: 0 0 0 2rem;
          border-left: solid 2px #000;
          border-right: 0; }
      .services .service #service__content2 .service__texto {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
    .services .service #service__content4 {
      padding: 0 0 0 2.4rem; }
      .services .service #service__content4 #servicio4 {
        padding: 0 0 0 2rem;
        border-left: solid 2px #000;
        border-right: 0; }

@media (min-width: 320px) and (max-width: 800px) {
  .services .service {
    display: flex;
    flex-direction: column; }
    .services .service .service__content {
      order: 1;
      display: block;
      width: 100%;
      padding: 0; }
      .services .service .service__content .service__tittle-description {
        padding-top: 2em;
        justify-content: center; }
        .services .service .service__content .service__tittle-description p {
          text-align: right; }
      .services .service .service__content .service__texto {
        padding-top: 1em; }
    .services .service #service__content2 {
      display: block;
      width: 100%;
      padding: 0; }
      .services .service #service__content2 .service__tittle-description #servicio2 {
        order: -1;
        border-left: 0;
        border-right: solid 2px #000;
        padding: 0 1em 0 0;
        text-align: left; }
      .services .service #service__content2 .service__texto {
        padding-top: 1em; }
    .services .service #service__content4 {
      display: block;
      width: 100%;
      padding: 0; }
      .services .service #service__content4 .service__tittle-description #servicio4 {
        order: -1;
        border-left: 0;
        border-right: solid 2px #000;
        padding: 0 1em 0 0;
        text-align: left; }
      .services .service #service__content4 .service__texto {
        padding-top: 1em; } }

/******************************
        MAIN SOBRE MI
*******************************/
.main-body__about-title, .main-body__contact-header, .main-body__services-title {
  font-size: 3.6em;
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 6rem; }

.main-body__about-subtitle {
  background-color: #ffe8e1;
  padding-top: 6rem; }
  .main-body__about-subtitle h2 {
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
    font-size: 2.88em;
    text-align: center; }
  .main-body__about-subtitle p {
    margin-bottom: 0;
    text-align: center;
    font-size: 2.4em;
    color: rgba(0, 0, 0, 0.6); }

.main-body__about-content {
  background-color: #FFE8E1;
  display: flex;
  gap: 2.4rem;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-around; }
  .main-body__about-content .main-body__about-img {
    display: flex;
    align-items: flex-start;
    padding-top: 2.4rem;
    padding-bottom: 6rem;
    width: 50vw; }
    .main-body__about-content .main-body__about-img img {
      border-radius: 10px;
      box-shadow: 0px 1px 2px #00000033, 0 0 1.5px #00000066; }
  .main-body__about-content .main-body__about-text {
    padding-top: 2.4rem;
    padding-bottom: 6rem;
    width: 50vw; }
    .main-body__about-content .main-body__about-text p {
      text-align: justify;
      font-size: 1.6em; }

@media (min-width: 320px) and (max-width: 800px) {
  .main-body__about .main-body__about-content {
    display: block; }
    .main-body__about .main-body__about-content .main-body__about-img {
      width: 100%;
      padding-top: 2.4rem;
      padding-bottom: 2.4rem; }
    .main-body__about .main-body__about-content .main-body__about-text {
      width: 100%;
      padding-top: 2.4rem;
      padding-bottom: 6rem; } }
