/******************************
            FOOTER
*******************************/

.footer {
    @include flex(row, space-around, center, 0);
    background-color: $base;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;

    &__logo {
        @include max-sizes(230px, 230px);
        margin-top: $spacing-medium;
    }

    &__suscribe {
        width: 33.33%;

        .footer__suscribe-header {
            font-family: $font-title;
            font-size: $text-medium;
        }

        .footer__suscribe-form {
            @include flex(column, center, center, 0);

            label {
                display: block;
                padding-top: $spacing-xsmall;
                width: 100%;
                font-size: $text-base;
            }

            input{
                display: block;
                margin-top: $spacing-xsmall;
                padding: $spacing-xsmall;
                width: 100%;
                font-size: $text-small;
            }

            #suscribe-btn {
                background-color: $primary;
                color: $base;
                border-radius: 5px;
                cursor: pointer;
                font-family: $font-title;
                font-size: $text-base;

                &:hover {
                    box-shadow: 0px 1px 2px #00000033, 0 0 1.5px #00000066;
                }
            }
        }
    }

    .fab {
        font-size: $text-medium*1.5;
        color: $primary;
        padding: 0.3em;
    }

}

@media (max-width:930px) {

    .footer .footer__social-contact {
        @include flex(column, center, center, 0);
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .footer {
        @include flex(column, center, center, $spacing-medium);

        .footer__social-contact {
            @include flex(row, center, center, 0);;
        }

        .footer__suscribe {
            width: 70%;
        }
    }
}

.go-up .fas {
    display: none;
    font-size: $text-large;
    padding:$spacing-small;
    color: darkgray;
}
.go-up a {
    text-align: end;
}
@media (min-width:320px) and (max-width: 800px) {
    .go-up .fas {
        display: block;
    }
}