/******************************
            HEADER
*******************************/

.main-header {
    background-color: $secondary;
    padding-bottom: $spacing-medium;

/******************************
            NAV BAR
*******************************/

    .nav-bar {
        @include flex(row, space-between, center, 0);
        width: 100%;
        padding: 75px 10% $spacing-large 10%;
        position: relative;

        &__menu-toggle {
            display: none;
            position: relative;
            padding-top: $spacing-xsmall*1.1;

            .btn {
                padding: 0;
                color: $primary;
                background-color: transparent;
                border: none;
                font-size: $text-base*2;
            }
            .btn:active {
                border: none;
            }
        }
        &__logo {
            @include max-sizes(200px, 200px);
            @include min-sizes(130px, 130px);
        }
        &__list {
            @include flex(row, start, center, 0);

            .nav-bar__item {
                text-align: center;
                padding: 0.5em $spacing-small;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                background-image: linear-gradient($text-color, $text-color);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size 0.3s;
                overflow: hidden;

                .fas {
                    position: relative;
                    color: $text-color;
                    font-family: "Font Awesome 5 Free";
                    align-self: center;
                }

                &:hover, &:focus {
                    background-size: 100% 2px;
                    cursor: pointer;
    
                    .fas {
                        -webkit-transform: rotate(-180deg); 
                        -moz-transform: rotate(-180deg);
                        -o-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                        transition: 0.6s;
                    }
                }

                .nav-bar__item-link {
                    @include flex(row, center, center, 0.3em);
                    color: $text-color;
                    font-size: $text-medium;
                    text-align: center;
                }

                .nav-bar__item-list {
                    display: none;
                    list-style-type: none;
                    padding-left: 0;
                    margin-top: 0.5em;
                    text-align: left;
                    background-color: $alternative;
                    border-radius: 5px;

                    .item-list__services {
                        padding: 0.5em 1em 0.5em 1em;
                        border: solid 1px $secondary;
                        background-color: $alternative;

                        a {
                            color: $text-color;
                            font-size: $text-small*1.2;
                        }

                        &:hover {
                            transform: scale(1.1);
                            transition: all 0.3s;
                        }
                    }
                }

                &:hover .nav-bar__item-list {
                    @include flex(column, start, stretch, 0);
                    position: absolute;
                }
            }

            #nav-bar__item-contact {
                background-color: $primary;
                background-image: none;
                border-radius: 1rem;
                box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;

                .nav-bar__item-link {
                    color: $base;
                }
            }
        }
        &__icon-contact {
            display: none;
            padding-top: $spacing-small;

            .fas, a {
                @include flex(row, center, stretch, 0);
                text-align: center;
                font-family: "Font Awesome 5 Free";
                font-size: $text-base*1.2;
                font-weight: 600;
                color: $primary;
            }
        }
    }
}

@media (max-width: 1200px) {
    .main-header .nav-bar__list .nav-bar__item {
        padding: 0.5em $spacing-xsmall;
    }
    .main-header .nav-bar__list .nav-bar__item .nav-bar__item-link {
        font-size: $text-medium;
    }
}
@media (min-width:320px) and (max-width: 800px) {
    .nav-bar .nav-bar__menu-toggle {
        display: block;
    }
    .nav-bar .nav-bar__logo {
        max-height: 130px;
        max-width: 130px;
        margin: 0;
    }
    .nav-bar .nav-bar__list {
        display: none;
    }
    .nav-bar .nav-bar__icon-contact {
        display: block;
    }
}

/******************************
            SIDEBAR
*******************************/

.offcanvas.offcanvas-start {
    width: 80%;

    .btn-close {
        background-color: $secondary;
        font-size: $text-medium;
    }

    .sidebar__list {
        padding-top: $spacing-large ;
        padding-bottom: $spacing-large*3;
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;

        .sidebar__item {
            padding-top: $spacing-xsmall;
            padding-bottom: $spacing-xsmall;

            .sidebar__item-link {
                font-size: $text-medium;
                color: $secondary;
            }
        }
    }

    .sidebar__contact {
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;

        .sidebar__division-line {
            background-color: $secondary;
            padding: 1px;
            margin-bottom: 1em;
        }

        &-mail {
            color: $secondary;
            font-size: $text-base;
            margin-bottom: 0;
        }

        .sidebar__social-list {
            display: flex;
            padding-left: 0;

            .sidebar__social-icon {
                font-size: $text-medium*1.5;

                .fab {
                    color: $secondary;
                    padding-right: $spacing-small;
                }
            }
        }
    }
}

.offcanvas {
    background-color: $primary;
}