/******************************
        MAIN CONTACTO
*******************************/

.main-body__contact-header {
    font-size: $text-medium*1.5;
    font-family: $font-title;
    text-align: center;
    padding: $spacing-large;
    padding-left: 10%;
    padding-right: 10%;
}
.contact-form {
    background-color: $secondary;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
    display: grid;
    grid-template-areas: 
        "nombre email"
        "ayuda ayuda"
        "enviar enviar";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 1em;

    .contact-form__name {
        grid-area: nombre;
        font-size: $spacing-small;

        input {
            display: block;
            width: 100%;
            margin-top: $spacing-xsmall;
            padding: $spacing-xsmall;
            border-color: $text-color;
            border-radius: 5px
        }
    }
    .contact-form__email {
        grid-area: email;
        font-size: $spacing-small;

        input {
            display: block;
            width: 100%;
            margin-top: $spacing-xsmall;
            padding: $spacing-xsmall;
            border-color: $text-color;
            border-radius: 5px
        }
    }
    .contact-form__message {
        grid-area: ayuda;
        font-size: $spacing-small;

        textarea {
            display: block;
            width: 100%;
            margin-top: $spacing-xsmall;
            resize: vertical;
            min-height: 160px;
            padding: $spacing-xsmall;
            border-color: $text-color;
            border-radius: 5px
        }
    }
    .contact-form__submit {
        grid-area: enviar;

        input {
            width: 100%;
            margin-top: $spacing-xsmall;
            padding: $spacing-xsmall;
            font-size: $text-base;
            font-family: $font-title;
            cursor: pointer;
            background-color: $primary;
            color: $base;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 1px 3px #00000033, 0 0 1.5px #00000066;
            }
        }
    }
}
.main-body__contact-social {
    background-color: $secondary;
    padding-bottom: $spacing-large;

    .main-body__contact-division {
        display: block;
        background-color: $text-color;
        height: 2px;
        margin: 0 auto;
        width: 35%;
        margin-bottom: 20px
    }
    
    .contact-social {
        display: flex;
        justify-content: center;

        &__icon, &__email {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 $spacing-medium;

            .fab, .fas {
                font-size: $text-medium*1.5;
                color: $primary;
                padding: 0.3em;
            }

            a {
                color: $text-color;
                font-size: $text-base;
            }
        }
    }
}

@media (min-width:320px) and (max-width: 800px) {
    .contact-form {
        display: block;
        padding-left: 20%;
        padding-right: 20%;
        
        .contact-form__email {
            padding-top: 1em;
        }
        .contact-form__message {
            padding-top: 1em;
        }
        .contact-form__submit {
            padding-top: 1em;
        }
    }

    .main-body__contact-social {

        .contact-social {
            flex-direction: column;
            width: 30%;
            margin: auto;
        }
    }
}