/******************************
            MAIN INDEX
*******************************/

.main-body__about-section {
    background-color: $secondary;
    padding-bottom: $spacing-large;
    padding-left: 40%;
    padding-right: 10%;

    p {
        font-size: $text-medium*1.2;
        font-family: $font-title;
        text-align: right;
        line-height: normal;
        color: $text-color;

        a {
            font-family: $font-title;
            display: block;
            color: $text-color;
            font-size: $text-small*0.6;
        }
    }
}

.main-body__services-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: $spacing-large;

    .services-section {
        display: flex;
        justify-content: space-around;
        gap: $spacing-small;
        flex-wrap: wrap;

        &__service {
            max-width: 220px;

            .service__img {
                display: flex;
                margin: auto;
                justify-content: center;

                img {
                    max-width: 150px;
                }
            }
            .service__text {
                max-width: 350px;

                h2 {
                    font-family: $font-title;
                    font-size: $text-medium;
                    text-align: center;
                    padding-top: $spacing-small;
                }
                h3 {
                    font-family: $font-title;
                    font-size: $text-base;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.60);
                    text-align: center;
                    padding-top: $spacing-xsmall;
                }
                p {
                    font-size: $text-small;
                    text-align: center;
                    padding-top: $spacing-xsmall;
                    padding-top: $spacing-xsmall;
                }
            }
        }
    }
    .services-btn {
        display: flex;
        justify-content: center;
        margin-bottom: $spacing-large;
        margin-top: $spacing-medium;

        a {
            font-family: $font-title;
            font-size: $text-medium;
            text-align: center;
            width: 250px;
            padding: $spacing-xsmall;
            background-color: $primary;
            color: $base;
            font-weight: 400;
            border-radius: 1rem;
            box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;
        }
    }
}

.main-body__blog-section {
    background-color: $secondary;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3rem;
    padding: $spacing-large;

    h1 {
        text-align: center;
        font-family: $font-title;
        font-size: $text-medium;
    }

    .blog-section__form {
        display: flex;
        margin-top: $spacing-medium;
        justify-content: center;

        .form__search {
            font-size: $text-small;
            width: 60%;
            padding: $spacing-xsmall;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top: solid 2px $text-color;
            border-bottom: solid 2px $text-color;
            border-left: solid 2px $text-color;
        }
        .form__submit {
            font-family: "Font Awesome 5 Free";
            font-size: $text-small;
            font-weight: 600;
            border-left: none;
            border-top: solid 2px $text-color;
            border-bottom: solid 2px $text-color;
            border-right: solid 2px $text-color;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            background-color: $base;
            padding:  $spacing-xsmall;
        }
    }
}

.blog-section__articles {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
    justify-content: center;
    margin-top: $spacing-medium;

    .card {
        width: 250px;
    
        .card-body {
            box-shadow: 0px 1px 5px #00000033, 0 0 3px #00000066;
    
            .card-title{
                font-size: $text-small*1.2;
                font-family: $font-title;
            }
            .card-text:first-of-type {
                color: rgba(0, 0, 0, 0.60);
            }
            .card-text:last-of-type {
                font-size: $text-small;
                height: 60px;
                overflow: scroll;
            }
            .card-text:last-of-type::-webkit-scrollbar {
                -webkit-appearance: none;
                appearance: none;
            }
            .card-text:last-of-type::-webkit-scrollbar:vertical {
                width:5px;
            }
            .card-text:last-of-type::-webkit-scrollbar-button:increment {
                display: none;
            }
            .contenedor::-webkit-scrollbar-button {
                display: none;
            }
            .contenedor::-webkit-scrollbar-track {
                border-radius: 1rem;  
            }
            .card-text:last-of-type::-webkit-scrollbar:horizontal {
                height: 0;
            }
            .card-text:last-of-type::-webkit-scrollbar-thumb {
                background-color: #797979;
                border-radius: 20px;
                border: 2px solid #f1f2f3;
            }
            .card-link {
                font-size: $text-small;
                color: rgba(0, 0, 0, 0.60);
            }
        }
    }
}

.icon-views {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
}

@media (min-width:320px) and (max-width: 800px) {
    .main-body__about-section {
        padding-left: 10%;
        padding-right: 10%;

        p {
            text-align: center;
            font-size: $text-medium;
        }
    } 
    .main-body__services-section .services-section {
        flex-wrap: wrap;
    }
    .main-body__blog-section {
        background-color: $secondary;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }
}
