/******************************
        MAIN SOBRE MI
*******************************/

.main-body__about-title {
    text-align: center;
    padding: 2em;
}
.main-body__about-content {
    background-color: #FFE8E1;

    .main-body__about-text {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 2em;
        padding-bottom: 2em;

        h1 {
            text-align: center;
            padding-bottom: 0.8em;
        }
        p {
            text-align: center;
            padding-bottom: 0.8em;
            font-size: 1em;
        }
    }
}