/******************************
        MAIN SOBRE MI
*******************************/

.main-body__about-title {
    font-size: $text-medium*1.5;
    font-family: $font-title;
    text-align: center;
    padding: $spacing-large;
}
.main-body__about-subtitle {
    background-color: $secondary;
    padding-top: $spacing-large;

    h2 {
        margin-bottom: 0;
        font-family: $font-title;
        font-size: $text-medium*1.2;
        text-align: center;
    }
    p {
        margin-bottom: 0;
        text-align: center;
        font-size: $text-medium;
        color: rgba(0, 0, 0, 0.60);
    }
}
.main-body__about-content {
    background-color: #FFE8E1;
    display: flex;
    gap: $spacing-medium;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;

    .main-body__about-img {
        display: flex;
        align-items: flex-start;
        padding-top: $spacing-medium;
        padding-bottom: $spacing-large;
        width: 50vw;
        
        img {
            border-radius: 10px;
            box-shadow: 0px 1px 2px #00000033, 0 0 1.5px #00000066;
        }
    }
    .main-body__about-text {
        padding-top: $spacing-medium;
        padding-bottom: $spacing-large;
        width: 50vw;

        p {
            text-align: justify;
            font-size: $text-base;
        }
    }
}

@media (min-width:320px) and (max-width: 800px) {
    
    .main-body__about .main-body__about-content {
        display: block;

        .main-body__about-img {
            width: 100%;
            padding-top: $spacing-medium;
            padding-bottom: $spacing-medium;
        }
        .main-body__about-text {
            width: 100%;
            padding-top: $spacing-medium;
            padding-bottom: $spacing-large;
        }
    }
}