    /* Colors */
    $primary: #f05742;
    $secondary: #ffe8e1;
    $alternative: #ffc1ae;
    $text-color: #000;
    $base: #fff;
    
    /* Spacings */
    $spacing-large: 6rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 1rem;
    
    /* Font-familys */
    $font-principal: "PT Sans", sans-serif;
    $font-title: "Nunito", sans-serif;
    
    /* Font-sizes */
    $text-large: 5.2em;
    $text-medium: 2.4em;
    $text-base: 1.6em;
    $text-small: 1.4em;


